* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  background-image: url(Wave1.svg);
  background-position: 75% 100%;
  background-size: cover;
}
