* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Bitter", serif;
}
.container {
  width: 100%;
  height: 100%;
  background-image: url(Wave1.svg);
  background-position: 75% 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  padding-top: 10%;
  padding-left: 10%;
  font-size: 1.6rem;
  max-width: 60%;
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 20px;
  /* padding: 0 24% 5% 0; */
  max-width: 300px;
  margin-left: auto;
  margin-bottom: 5%;
  margin-right: 25%;
}
.menu > button {
  padding: 2rem 0.7rem;
  text-align: center;
  background: none;
  color: white;
  border: 1px solid white;
  font-size: 100%;
}

@media only screen and (max-width: 400px) {
  .menu {
    margin-right: auto;
    padding: 1rem;
  }
}
