* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Bitter", serif;
}
.container {
  width: 100%;
  height: 100%;
  background-image: url(Wave1.svg);
  background-position: 75% 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  margin-top: 10%;
  margin-left: 10%;
  font-size: 1.6rem;
}
